@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
html{
    height:100vh ;
  
    background-image: url(images/main.png);
    background-repeat: repeat-x; 
    background-size: 100% 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin:0px;
}

body{
    height:100vh ;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    margin:0px;
}

#menubar{
    height: auto;
    width: max-content;
    align-self: center;
    background: rgb(119, 12, 12);
    padding: 1.2vw;
    border: solid 0.7vw rgb(167, 52, 10);
    border-radius: 3vw;
    transform: scale(2.3);
    text-align: center;
}

#menubar div{
    margin:1vw;
    font-family: 'Lexend Zetta', sans-serif; 
    font-size: 0.7vw;
    background-color: rgb(154, 108, 22);
    border: inset 0.2vw rgb(151, 90, 19);
    border-radius: 10px;
    padding: 0.4vw;
}

#menubar div:hover{
    cursor: pointer;
    transform: scale(1.1);
} 

#menubar div:active{
    cursor: pointer;
    transform: scale(0.9);
}

#container {
    height: 98vh;
    width: 98vw;
    background-image:url(images/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-position: center; 
    border-radius: 10px;
    position:relative;
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#score{
    background: #1ae6c7a2;
    font-size: 1.5vw;
    color: #ddff1b;
    padding: 1vh 1vw;
    
    box-shadow:#4c5514 0 0.6vh 0.26vh;
    position: absolute;
    left: 88vw;
    top:1.7vh;
}


#liferem{
    position: absolute;
    width: max-content;
    padding:1.1vh;
   
    left: 20px;
    
    top:1vh;
    border-radius: 3px;
    background-color: rgba(182, 255, 36, 0.63);
    box-shadow: rgba(0, 0, 0,0.3) 0 1vh 0.2vh;
    display: none;
}



.heart{
    height:2.5vh;
    margin: 0.2vw;
    position: relative;
    top: 0.1vh;
}

#fruit{
    height:auto;
    z-index: 3;
    width:7vw;
    position: absolute;
   
}

#endgame{
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: max-content;
    height: max-content;
    font-size: 2vw;
    color: rgb(169, 14, 151);
    align-self: center;
    background: rgb(76, 10, 86);
    padding: 3vw;
    border: solid 7px rgb(173, 80, 255);
    border-radius: 5px;
    transform: scale(1.3);
    text-align: center;
}

#fsc{
    color: rgb(205, 58, 0);
}

#endgame div{
    margin:1vw;
    font-family: 'Lexend Zetta', sans-serif; 
    font-size: 0.7vw;
    background-color: wheat;
    border: inset 0.2vw rgb(151, 90, 19);
    border-radius: 10px;
    padding: 0.4vw;
}

#endgame div:hover{
    cursor: pointer;
    transform: scale(1.1);
} 

#endgame div:active{
    cursor: pointer;
    transform: scale(0.9);
}